logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

SendService/logs
SendService/project/project
SendService/project/target
SendService/target
SendService/tmp
SendService/.history
SendService/dist
SendService/.idea
SendService/*.iml
SendService/out
SendService/.idea_modules
SendService/.classpath
SendService/.project
SendService/RUNNING_PID
SendService/.settings