@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, mess2: String)
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("Email Alert") {
        @navbar(mess2)
        @*
        * Get an `Html` object by calling the built-in Play welcome
        * template and passing a `String` message.
        *@
        <div class="container mt-3">
            <div class="row justify-content-center" style="margin-top: 20px;">
                <p class="font-italic" style="font-size: 50px">@message</p>
            </div>
            <div class="container a" style="margin-top: 76px;">
                    <!-- What our Product Do do -->
                <hr>
                <div id="whatwedo" class="row justify-content-center" style="margin-top: 20px;">
                    <div class="col-auto align-self-center">
                        <h2> What can we offer you?</h2>
                    </div>
                </div>

                <div class="row justify-content-around" style="margin-top: 20px;">
                    <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                        <div class="card">
                            <div class="card-header bg-dark text-light">
                                <i class="fas fa-user"></i> Personalize  your alerts
                            </div>
                            <div class="card-block container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="card-text">
                                            Are you afraid of PM10? Or maybe you want to know if the weather is clear in your location? If yes, Email Alert is something for you. Try for free, personalize your own alerts.
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-success">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" style="margin-bottom: 10px;" >
                        <div class="card">
                            <div class="card-header bg-dark text-light">
                                <i class="fas fa-mobile-alt"></i> Mobile app
                            </div>
                            <div class="card-block container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="card-text">
                                            We provide mobile-app. It allows you to manage your alters wherever you are and whenever you want.
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-success">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" style="margin-bottom: 10px;" >
                        <div class="card">
                            <div class="card-header bg-dark text-light">
                                <i class="fas fa-desktop"></i> Desktop app
                            </div>
                            <div class="card-block container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="card-text">
                                            Our desktop app includes all you need to manage your alerts. It is recommended to set complex settings with various factors.
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-success">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                        <div class="card">
                            <div class="card-header bg-dark text-light">
                                <i class="far fa-handshake"></i> 24h Support
                            </div>
                            <div class="card-block container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <p class="card-text">
                                            Our support work everyday, even in Christmas and Easter. If you need help, don't be hesitate to call us.
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        <button id="technologies" type="button" class="btn btn-outline-success">More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Product -->
                <hr >
                <div class="row justify-content-center" style="margin-top: 20px;">
                    <div class="col-auto align-self-center">
                        <h2> Product </h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center" style="margin-top: 20px;" >
                        <div id="przykladowaKaruzela2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block"  style="width: 500px; height: 500px;" src="@routes.Assets.versioned("/images/product_1.JPG")" alt="Pierwszy slajd">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" style="width: 500px; height: 500px;" src ="@routes.Assets.versioned("images/product_2.JPG")" alt="Drugi slajd">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" style="width: 500px; height: 400px;" src ="@routes.Assets.versioned("images/product_3.png")" alt="Trzeci slajd">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#przykladowaKaruzela2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Poprzedni</span>
                            </a>
                            <a class="carousel-control-next" href="#przykladowaKaruzela2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Następny</span>
                            </a>
                    </div>
                </div>
                <div class="row justify-content-center"id="joinus" style="margin-top: 20px;">
                    <div class="col-auto align-self-center">
                        <button type="button" class="btn btn-outline-success">Show more about us</button>
                    </div>
                </div>
                    <!-- Contact Us-->
                <hr>
                <div class="row justify-content-center"  style="margin-top: 20px;">
                    <div class="col-auto align-self-center">
                        <h2> Contact with Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 20px;">
                    <div class="col-12">
                        <form>
                            <div class="form-group">
                                <label for="joinusEmail">Emial address</label>
                                <input type="email" class="form-control" id="joinusEmail" aria-describedby="podpowiedzEmail" placeholder="E-mail">
                                <br>
                                <label for="przykladowaTextarea">Your message:</label>
                                <textarea class="form-control" id="przykladowaTextarea" rows="3"></textarea>
                                <br>
                                <small id="podpowiedzEmail" class="form-text text-muted">We will contact with you</small>
                                <button type="submit" class="btn btn btn-outline-success ">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-around" >
                </div>
                @*                    <!--Technologies -->*@
                @*                <hr id="team" >*@
                @*                <div class="row justify-content-center" style="margin: 20px 20px;">*@
                @*                    <div class="col-auto align-self-center">*@
                @*                        <h2> Technologies </h2>*@
                @*                    </div>*@
                @*                </div>*@
                @*                <div class="row justify-content-around" >*@
                @*                    <div class="col-auto " style="margin: 10px 10px">*@
                @*                        <i class="fab d-block d-md-none fa-java fa-5x"></i>*@
                @*                        <i class="fab d-none d-md-block fa-java fa-7x"></i>*@
                @*                    </div>*@
                @*                    <div class="col-auto " style="margin: 10px 10px">*@
                @*                        <i class="fab d-block d-md-none fa-js-square fa-5x"></i>*@
                @*                        <i class="fab d-none d-md-block fa-js-square fa-7x"></i>*@
                @*                    </div>*@
                @*                    <div class="col-auto " style="margin: 10px 10px">*@
                @*                        <i class="fab d-block d-md-none fa-node fa-5x"></i>*@
                @*                        <i class="fab d-none d-md-block fa-node fa-7x"></i>*@
                @*                    </div>*@
                @*                    <div class="col-auto " >*@
                @*                        <i class="fab d-block d-md-none fa-python fa-5x"></i>*@
                @*                        <i class="fab d-none d-md-block fa-python fa-7x"></i>*@
                @*                    </div>*@
                @*                </div>*@
            </div>
        </div>
    }
